= simple_form_for @company, html: { class: 'form-vertical' } do |f|
  = f.input :name, label: 'Your company name'
  = f.input :size, label: 'How big is your team?', type: 'number',
    placeholder: 'Number of people'
  = f.button :submit, class: 'btn btn-primary'
